certifi==2021.5.30
cffi==1.14.6
dataclasses==0.8
future==0.18.2
greenlet==1.1.2
msgpack==1.0.3
numpy==1.19.5
olefile==0.46
Pillow==8.3.1
pip==21.2.2
pycparser==2.21
pynvim==0.4.3
setuptools==58.0.4
torch==1.7.1.post2
torchvision==0.10.0a0
typing_extensions==4.1.1
wheel==0.37.1
